image:
  repository: agregarr/agregarr
  tag: "v2.4.0"

service:
  port: 80
  containerPort: 7171

resources:
  requests:
    cpu: 15m
    memory: 400Mi
  limits:
    cpu: 500m
    memory: 512Mi

probes:
  readiness:
    type: tcpSocket
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 3
  liveness:
    enabled: true
    type: tcpSocket
    initialDelaySeconds: 60
    failureThreshold: 5
    periodSeconds: 10
    timeoutSeconds: 10
  startup:
    enabled: true
    type: tcpSocket
    failureThreshold: 30
    periodSeconds: 5

httproute:
  enabled: true
  hostnames:
    - agregarr.x.pmcd.io

env:
  TZ: America/Chicago

persistence:
  enabled: true
  type: longhorn
  size: 500Mi
  mountPath: /app/config

extraVolumes:
  - name: media
    persistentVolumeClaim:
      claimName: smb-media-claim

extraVolumeMounts:
  - mountPath: /media
    name: media
