apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: pmcd-dev
    app.kubernetes.io/name: pmcd-dev
  name: pmcd-dev
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/instance: pmcd-dev
      app.kubernetes.io/name: pmcd-dev
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: pmcd-dev
        app.kubernetes.io/name: pmcd-dev
    spec:
      containers:
        - name: pmcd-dev
          image: pmcd-dev
          imagePullPolicy: IfNotPresent

          livenessProbe:
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 3000
            timeoutSeconds: 1

          ports:
            - containerPort: 3000
              hostPort: 3000
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 3000
            timeoutSeconds: 1
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 15m
              memory: 100Mi
          startupProbe:
            failureThreshold: 30
            periodSeconds: 5
            successThreshold: 1
            tcpSocket:
              port: 3000
            timeoutSeconds: 1
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      restartPolicy: Always
      imagePullSecrets:
        - name: ghcr-registry-cred
