apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - 1password.secret.yaml

images:
  - name: reedme
    newName: ghcr.io/patrickjmcd/reedme
    newTag: "1.2.0"
