image:
  repository: ghcr.io/patrickjmcd/reedme
  tag: "1.2.0"

service:
  port: 80
  containerPort: 8080

resources:
  requests:
    cpu: 15m
    memory: 64Mi
  limits:
    cpu: 500m
    memory: 256Mi

probes:
  readiness:
    type: httpGet
    path: /
    initialDelaySeconds: 10
    periodSeconds: 15
    timeoutSeconds: 5
    failureThreshold: 3
  liveness:
    enabled: true
    type: httpGet
    path: /
    initialDelaySeconds: 30
    failureThreshold: 5
    periodSeconds: 30
    timeoutSeconds: 5
  startup:
    enabled: true
    type: httpGet
    path: /
    failureThreshold: 30
    periodSeconds: 5

httproute:
  enabled: true
  hostnames:
    - reedme.x.pmcd.io

onePassword:
  enabled: true
  itemPath: "vaults/Kubernetes/items/reedme"

env:
  TZ: America/Chicago
  REEDME_PORT: "8080"

envFrom:
  - secretRef:
      name: reedme-1pw
