apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: tautulli
    app.kubernetes.io/name: tautulli
  name: tautulli
  namespace: media
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: tautulli
      app.kubernetes.io/name: tautulli
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: tautulli
        app.kubernetes.io/name: tautulli
    spec:
      containers:
        - name: tautulli
          env:
            - name: TZ
              value: America/Chicago
          image: tautulli
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8181
              name: http
              protocol: TCP

          readinessProbe:
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: http
            timeoutSeconds: 1

          livenessProbe:
            tcpSocket:
              port: http
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10

          startupProbe:
            failureThreshold: 30
            periodSeconds: 5
            successThreshold: 1
            tcpSocket:
              port: http
            timeoutSeconds: 1

          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 15m
              memory: 100Mi

          volumeMounts:
            - mountPath: /config
              name: config

      restartPolicy: Always
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: longhorn-tautulli-config

