apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml
  - storage.yaml

images:
  - name: tautulli
    newName: tautulli/tautulli
    newTag: 2.0.0
