apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - storage.yaml

images:
  - name: tautulli
    newName: ghcr.io/tautulli/tautulli
    newTag: v2.16.1
