image:
  repository: ghcr.io/tautulli/tautulli
  tag: "v2.16.1"

service:
  port: 80
  containerPort: 8181

resources:
  requests:
    cpu: 15m
    memory: 100Mi
  limits:
    cpu: 100m
    memory: 256Mi

probes:
  readiness:
    type: tcpSocket
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 3
  liveness:
    enabled: true
    type: tcpSocket
    initialDelaySeconds: 60
    failureThreshold: 5
    periodSeconds: 10
    timeoutSeconds: 10
  startup:
    enabled: true
    type: tcpSocket
    failureThreshold: 30
    periodSeconds: 5

httproute:
  enabled: true
  hostnames:
    - tautulli.x.pmcd.io

env:
  TZ: America/Chicago

persistence:
  enabled: true
  type: longhorn
  size: 500Mi
  mountPath: /config
