apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  #  - helm-release.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml

images:
  - name: readarr
    newName: ghcr.io/pennydreadful/bookshelf
    newTag: hardcover-v0.4.20.107
