apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: sabnzbd
    app.kubernetes.io/name: sabnzbd
  name: sabnzbd
  namespace: media
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: sabnzbd
      app.kubernetes.io/name: sabnzbd
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: sabnzbd
        app.kubernetes.io/name: sabnzbd
    spec:
      initContainers:
        - args:
            - " echo 'Setting configmap'  && cp /tmp/config/sabnzbd.ini /etc/config/sabnzbd.ini && chmod 777 /etc/config/sabnzbd.ini"
          command:
            - sh
            - -c
          image: busybox:latest
          imagePullPolicy: Always
          name: setup-config
          volumeMounts:
            - mountPath: /tmp/config
              name: config
            - mountPath: /etc/config
              name: config-empty
      containers:
        - name: sabnzbd
          env:
            - name: TZ
              value: America/Chicago
            - name: PGID
              value: "100"
            - name: PUID
              value: "1000"

          image: sabnzbd
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 8080
              name: http
              protocol: TCP

          readinessProbe:
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: http
            timeoutSeconds: 1

          livenessProbe:
            tcpSocket:
              port: http
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10

          startupProbe:
            failureThreshold: 30
            periodSeconds: 5
            successThreshold: 1
            tcpSocket:
              port: http
            timeoutSeconds: 1

          resources:
            limits:
              cpu: 2000m
              memory: 4000Mi
            requests:
              cpu: 1000m
              memory: 1000Mi

          volumeMounts:
            - mountPath: /config
              name: config-empty
              readOnly: false
            - mountPath: /mnt/media
              name: media
            - mountPath: /mnt/incomplete
              name: incomplete-storage
              subPath: sabnzbd/incomplete

      restartPolicy: Always
      volumes:
        - name: config
          configMap:
            name: sabnzbd-config
            items:
              - key: sabnzbd.ini
                path: sabnzbd.ini
        - name: config-empty
          emptyDir: {}
        - name: incomplete-storage
          persistentVolumeClaim:
            claimName: rpi51-nvme-pvc
        - name: media
          persistentVolumeClaim:
            claimName: smb-media-claim
      tolerations:
        - key: nvme-storage-available
          operator: Equal
          value: "true"
          effect: NoSchedule