apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - 1password.secret.yaml
  - storage.yaml

images:
  - name: n8n
    newName: docker.n8n.io/n8nio/n8n
    newTag: 2.9.2
