---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: smb-appconfig-traefik
  namespace: default
spec:
  storageClassName: ""
  capacity:
    storage: 200Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - vers=3.0
  csi:
    driver: smb.csi.k8s.io
    readOnly: false
    volumeHandle: default-smb-traefik-volume-id
    volumeAttributes:
      source: '//192.168.1.253/AppConfig/traefik'
    nodeStageSecretRef:
      name: smb-creds-1pw
      namespace: csi-smb-provisioner
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: smb-appconfig-traefik-claim
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi
  volumeName: smb-appconfig-traefik
  storageClassName: ""