apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - httproute.yaml

images:
  - name: lidarr
    newName: linuxserver/lidarr
    newTag: 3.1.0
