apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml

images:
  - name: lidarr
    newName: linuxserver/lidarr
    newTag: 8.1.2135
