apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - httproute.yaml

images:
  - name: calibre
    newName: linuxserver/calibre
    newTag: 9.0.0
