image:
  repository: ghcr.io/patrickjmcd/website-redirector
  tag: "6c2cda9"

service:
  port: 80
  containerPort: 8080

resources:
  requests:
    cpu: 15m
    memory: 100Mi
  limits:
    cpu: 100m
    memory: 256Mi

probes:
  readiness:
    type: tcpSocket
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 3
  liveness:
    enabled: true
    type: tcpSocket
    initialDelaySeconds: 60
    failureThreshold: 3
    periodSeconds: 10
    timeoutSeconds: 1
  startup:
    enabled: true
    type: tcpSocket
    failureThreshold: 30
    periodSeconds: 5

httproute:
  enabled: false

env:
  REDIRECT_TO: "https://plannedparenthood.com"

imagePullSecrets:
  - name: ghcr-registry-cred
