overseerr:
  image:
    repository: linuxserver/overseerr
    pullPolicy: IfNotPresent
    tag: 1.35.0

  env:
    TZ: America/Chicago

  service:
    port:
      port: 5055

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 15m
      memory: 350Mi

  persistence:
    config:
      enabled: true
      mountPath: /config
      existingClaim: smb-appconfig-overseerr-claim
