overseerr:
  image:
    repository: linuxserver/overseerr
    pullPolicy: IfNotPresent
    tag: 1.34.0

  env:
    TZ: America/Chicago

  service:
    port:
      port: 5055

  persistence:
    config:
      enabled: true
      mountPath: /config
      existingClaim: smb-appconfig-overseerr-claim
