apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml

images:
  - name: notifiarr
    newName: golift/notifiarr
    newTag: 0.9.1
