apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - 1password.secret.yaml

images:
  - name: dispatcharr
    newName: ghcr.io/dispatcharr/dispatcharr
    newTag: 0.17.0-20260126233822
