apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/manifest-generate-paths: .
spec:
  destination:
    namespace: prometheus
    name: in-cluster
  project: core-components
  syncPolicy:
    automated: { }
  source:
    chart: prometheus
    targetRevision: 27.52.0
    repoURL: https://prometheus-community.github.io/helm-charts
    helm:
      releaseName: prometheus
      values: |
        server:
          retentionSize: 7500MB