apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/manifest-generate-paths: .
spec:
  destination:
    namespace: prometheus
    name: in-cluster
  project: core-components
  syncPolicy:
    automated: { }
  sources:
    - path: core/prometheus-assets
      repoURL: https://github.com/patrickjmcd/k8s-argo.git
      targetRevision: main
    - repoURL: https://github.com/patrickjmcd/k8s-argo.git
      targetRevision: main
      path: core/grafana-assets
    - chart: kube-prometheus-stack
      targetRevision: 80.12.0
      repoURL: https://prometheus-community.github.io/helm-charts
      helm:
        releaseName: kube-prometheus-stack
        valuesObject:
          prometheus:
            prometheusSpec:
              retentionSize: 8GiB
          grafana:
            persistence:
              type: pvc
              enabled: true
              storageClassName: longhorn
              accessModes:
                - ReadWriteOnce
              size: 5Gi