apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik-assets
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/manifest-generate-paths: .
spec:
  destination:
    namespace: default
    name: in-cluster
  project: core-components
  #  syncPolicy:
  #    automated: { }
  source:
    path: core/traefik-assets
    repoURL: https://github.com/patrickjmcd/k8s-argo.git
    targetRevision: main
