apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/manifest-generate-paths: .
    argocd.argoproj.io/sync-wave: "1"
spec:
  destination:
    namespace: default
    name: in-cluster
  project: core-components
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
  sources:
    - path: core/traefik-assets
      repoURL: https://github.com/patrickjmcd/k8s-argo.git
      targetRevision: main
    - chart: traefik
      targetRevision: 39.0.0
      repoURL: https://traefik.github.io/charts
      helm:
        releaseName: traefik
        valuesObject:
          ports:
            metrics:
              expose:
                default: true
              port: 9100
              protocol: TCP
            web:
              port: 80
              http:
                redirections:
                  entryPoint:
                    to: websecure
                    scheme: https
                    permanent: true
            websecure:
              port: 443
          service:
            spec:
              loadBalancerIP: 192.168.8.200
          additionalArguments:
            - "--api.insecure=true"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 512Mi
          ingressRoute:
            dashboard:
              enabled: false
          providers:
            kubernetesCRD:
              enabled: false
            kubernetesGateway:
              enabled: true
          gateway:
            namespacePolicy: All
            listeners:
              web: # HTTP listener that matches entryPoint `web`
                port: 80
                protocol: HTTP
                namespacePolicy:
                  from: All
              websecure: # HTTPS listener that matches entryPoint `websecure`
                port: 443
                protocol: HTTPS  # TLS terminates inside Traefik
                namespacePolicy:
                  from: All
                certificateRefs:
                  - name: pmcdio-tls-le
          # Enable Observability
          logs:
            general:
              level: INFO
            # This enables access logs, outputting them to Traefik's standard output by default. The [Access Logs Documentation](https://doc.traefik.io/traefik/observability/access-logs/) covers for[...]
            access:
              enabled: true

          # Enables Prometheus for Metrics
          metrics:
            prometheus:
              enabled: true
              serviceMonitor:
                enabled: true

  #        persistence:
  #          enabled: true
  #          existingClaim: smb-appconfig-traefik-claim
