apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus-server
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`prometheus.x.pmcd.io`)
      kind: Rule
      services:
        - name: prometheus-server
          port: 80
  tls:
    certResolver: pmcdio