ALLOW_SIGNUP="false"
TZ=America/Chicago
DB_ENGINE=postgres
BASE_URL=https://mealie.${SECRET_DOMAIN}
POSTGRES_USER=mealie
POSTGRES_PASSWORD=${MEALIE_DB_PASSWORD}
POSTGRES_DB=mealie
POSTGRES_SERVER=${POSTGRES_ADDRESS}
