apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- httproute.yaml
- service.yaml
- storage.yaml
- 1password.secret.yaml

images:
- name: mealie
  newName:  ghcr.io/mealie-recipes/mealie
  newTag: v3.9.2

configMapGenerator:
  - name: mealie-config
    envs:
      - .env


