apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: govmikeparsons
    app.kubernetes.io/name: govmikeparsons
  name: govmikeparsons
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/instance: govmikeparsons
      app.kubernetes.io/name: govmikeparsons
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: govmikeparsons
        app.kubernetes.io/name: govmikeparsons
    spec:
      containers:
        - name: govmikeparsons
          image: govmikeparsons
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIRECT_TO
              value: "https://plannedparenthood.com"

          livenessProbe:
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 8080
            timeoutSeconds: 1

          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 8080
            timeoutSeconds: 1
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 15m
              memory: 100Mi
          startupProbe:
            failureThreshold: 30
            periodSeconds: 5
            successThreshold: 1
            tcpSocket:
              port: 8080
            timeoutSeconds: 1
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      restartPolicy: Always
      imagePullSecrets:
        - name: ghcr-registry-cred
