apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- httproute.yaml
- service.yaml
- storage.yaml
- servicemonitor.yaml

images:
- name: uptime-kuma
  newName: louislam/uptime-kuma
  newTag: "2.1.1"
