apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - 1password.secret.yaml

images:
  - name: hdhr2xmltv
    newName: ghcr.io/patrickjmcd/hdhr2xmltv
    newTag: 1.1.0
