image:
  repository: ghcr.io/patrickjmcd/hdhr2xmltv
  tag: "1.1.0"

service:
  port: 80
  containerPort: 8080

resources:
  requests:
    cpu: 15m
    memory: 105Mi
  limits:
    cpu: 100m
    memory: 128Mi

probes:
  readiness:
    type: httpGet
    path: /readyz
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 3
  liveness:
    enabled: true
    type: httpGet
    path: /healthz
    initialDelaySeconds: 5
    failureThreshold: 3
    periodSeconds: 10
    timeoutSeconds: 1
  startup:
    enabled: false

httproute:
  enabled: true
  hostnames:
    - hdhr2xmltv.x.pmcd.io

onePassword:
  enabled: true
  itemPath: "vaults/Kubernetes/items/hdhr2xmltv"

env:
  CACHE_TTL_MINUTES: "60"

envFrom:
  - secretRef:
      name: hdhr2xmltv-1pw

extraVolumes:
  - name: media
    persistentVolumeClaim:
      claimName: smb-media-claim
  - name: data
    emptyDir:
      sizeLimit: 500Mi

extraVolumeMounts:
  - mountPath: /mnt/media
    name: media
  - mountPath: /data
    name: data
