apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- httproute.yaml
- service.yaml
- storage.yaml
- 1password.secret.yaml

images:
- name: ia-ignition
  newName:  inductiveautomation/ignition
  newTag: "8.3"

configMapGenerator:
  - name: ia-ignition-config
    envs:
      - .env
  - name: ignition-config-scripts
    files:
      - scripts/seed-data-volume.sh
      - scripts/seed-redundancy.sh
      - scripts/prepare-gan-certificates.sh
      - scripts/prepare-tls-certificates.sh
      - scripts/invoke-args.sh
      - scripts/redundant-health-check.sh
  - name: ignition-config-files
    files:
      - config/redundancy-primary.xml
      - config/redundancy-backup.xml
      - config/logback.xml