apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- ingressroute.yaml
- service.yaml

images:
- name: ia-ignition
  newName:  inductiveautomation/ignition
  newTag: "8.3"

configMapGenerator:
  - name: ia-ignition-config
    files:
      - .env
