apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- httproute.yaml
- service.yaml
- storage.yaml
- 1password.secret.yaml

images:
- name: ia-ignition
  newName:  inductiveautomation/ignition
  newTag: "8.3"

configMapGenerator:
  - name: ia-ignition-config
    envs:
      - .env
