apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- httproute.yaml
- 1password.secret.yaml

images:
- name: glance
  newName: glanceapp/glance
  newTag: v0.8.4

configMapGenerator:
  - name: glance-config
    files:
      - glance.yml
