apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- httproute.yaml
- external-secret.yaml

images:
- name: glance
  newName: glanceapp/glance
  newTag: latest

configMapGenerator:
  - name: glance-config
    files:
      - glance.yml
