# Name of the tunnel you want to run
tunnel: kube-tunnel-default
credentials-file: /etc/cloudflared/creds/credentials.json
# Serves the metrics server under /metrics and the readiness server under /ready
metrics: 0.0.0.0:2000
# Autoupdates applied in a k8s pod will be lost when the pod is removed or restarted, so
# autoupdate doesn't make sense in Kubernetes. However, outside of Kubernetes, we strongly
# recommend using autoupdate.
no-autoupdate: true
# The `ingress` block tells cloudflared which local service to route incoming
# requests to. For more about ingress rules, see
# https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/configuration/ingress
#
# Remember, these rules route traffic from cloudflared to a local service. To route traffic
# from the internet to cloudflared, run `cloudflared tunnel route dns <tunnel> <hostname>`.
# E.g. `cloudflared tunnel route dns example-tunnel tunnel.example.com`.
ingress:
  # The first rule proxies traffic to the httpbin sample Service defined in app.yaml

  # DEFAULT
  - hostname: influxdb.pmcd.io
    service: http://influxdb2:80
  - hostname: tablerocklakelevel.com
    service: http://table-rock-lake-level:80
  - hostname: pgadmin.pmcd.io
    service: http://pgadmin-pgadmin4:80

  # FLUX SYSTEM
  - hostname: weave.pmcd.io
    service: http://ww-gitops-weave-gitops.flux-system:9001

  # HOME AUTOMATION
  - hostname: ha.pmcd.io
    service: http://home-assistant.homeauto:8123
  - hostname: ha.pmcd.dev
    service: http://home-assistant.homeauto:8123
  - hostname: homebridge.pmcd.io
    service: http://192.168.1.23:8581
  - hostname: frigate.pmcd.io
    service: http://frigate.homeauto:5000

  # MEDIA
  - hostname: bazarr.pmcd.io
    service: http://bazarr.media:6767
  - hostname: radarr.pmcd.io
    service: http://radarr.media:80
  - hostname: sabnzbd.pmcd.io
    service: http://sabnzbd.media:80
  - hostname: sonarr.pmcd.io
    service: http://sonarr.media:80
  - hostname: beets.pmcd.io
    service: http://beets.media:8337
  - hostname: overseerr.pmcd.io
    service: http://overseerr.media:5055
  - hostname: prowlarr.pmcd.io
    service: http://prowlarr.media:9696
  - hostname: youtubedl.pmcd.io
    service: http://youtubedl-material.media:17442
  - hostname: lidarr.pmcd.io
    service: http://lidarr.media:80

  # ARGO
  - hostname: argo.pmcd.io
    service: https://argocd-server.argocd:443
    originRequest:
      noTLSVerify: true

  # PROXMOX
  - hostname: proxmox.pmcd.io
    service: http://192.168.1.10:8006

  # This rule sends traffic to the built-in hello-world HTTP server. This can help debug connectivity
  # issues. If hello.example.com resolves and tunnel.example.com does not, then the problem is
  # in the connection from cloudflared to your local service, not from the internet to cloudflared.
  - hostname: tunnel.pmcd.io
    service: hello_world
  # This rule matches any traffic which didn't match a previous rule, and responds with HTTP 404.
  - service: http_status:404
