apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml

images:
  - name: radarr
    newName: linuxserver/radarr
    newTag: 5.28.0
