apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: prowlarr
    app.kubernetes.io/name: prowlarr
  name: prowlarr
  namespace: media
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: prowlarr
      app.kubernetes.io/name: prowlarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: prowlarr
        app.kubernetes.io/name: prowlarr
    spec:
      containers:
        - name: prowlarr
          env:
            - name: TZ
              value: America/Chicago

          image: prowlarr
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 9696
              name: http
              protocol: TCP

          readinessProbe:
            failureThreshold: 3
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: http
            timeoutSeconds: 1

          livenessProbe:
            tcpSocket:
              port: http
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10

          startupProbe:
            failureThreshold: 30
            periodSeconds: 5
            successThreshold: 1
            tcpSocket:
              port: http
            timeoutSeconds: 1

          resources:
            limits:
              cpu: 1000m
              memory: 1024Mi
            requests:
              cpu: 15m
              memory: 200Mi

          volumeMounts:
            - mountPath: /config/config.xml
              name: config
              readOnly: true
              subPath: config.xml
            - mountPath: /media
              name: media

      restartPolicy: Always
      volumes:
        - name: config
          configMap:
            name: prowlarr-config
            items:
              - key: config.xml
                path: config.xml
        - name: media
          persistentVolumeClaim:
            claimName: smb-media-claim
