apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: unpoller
    app.kubernetes.io/name: unpoller
  name: unpoller
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/instance: unpoller
      app.kubernetes.io/name: unpoller
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: unpoller
        app.kubernetes.io/name: unpoller
    spec:
      containers:
        - name: unpoller
          image: unpoller
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9130
              name: tcp
              protocol: TCP
            - containerPort: 9130
              name: udp
              protocol: UDP
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 15m
              memory: 100Mi
          livenessProbe:
            httpGet:
              path: /
              port: tcp
          readinessProbe:
            httpGet:
              path: /
              port: tcp
          volumeMounts:
            - name: config-volume
              mountPath: /etc/unpoller/up.conf
              subPath: up.conf
      volumes:
        - name: config-volume
          configMap:
            name: unpoller-config