apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - servicemonitor.yaml

images:
  - name: unpoller
    newName: ghcr.io/unpoller/unpoller
    newTag: v2.25.0

